body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

/* For header */

.header {
    font-family: Roboto, 'Times New Roman', Times, serif;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 18px;
    color: #e5e7eb;
}

h4 {
    font-size: 24px;
    color: #f9faf8;
}

/* For Container1/Hero */

.container1 {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;

}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    ;
}

.intro p {
    font-size: 18px;
    color: #e5e7eb;
}
.imgBox {
    width: 200px;
    height: 200px;
    border: 1px solid white;
}
.signUp {
    background-color: #3882F6;
    color: white;
}