body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

/* For header */

.header {
    font-family: Roboto, 'Times New Roman', Times, serif;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 18px;
    color: #e5e7eb;
}

h4 {
    font-size: 24px;
    color: #f9faf8;
}

/* For Container1/Hero */

.container1 {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;

}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    ;
}

.intro p {
    font-size: 18px;
    color: #e5e7eb;
}

.imgBox {
    width: 200px;
    height: 200px;
    border: 1px solid white;
}

.signUp {
    background-color: #3882F6;
    color: white;
}


/* For Container2 */

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.box {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
}

.info {
    display: flex;
    justify-content: space-around;
}

/* For Container3 */

.container3 {
    background-color: #e5e7eb;

}

blockquote {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.citation {
    text-align: right;
    color: #1f2937;
    font-size: 18px;
    font-weight: 900;
}

/* For Container4 */

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.callToAction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    width: 600px;
    height: 150px;
    color: white;
    padding: 10px 20px;
}

.callToAction div h5 {
    padding: 0;
    margin: 0;
}

.callToAction div p {
    padding: 0;
    margin: 0;
}